* {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: #d5e1ef;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.qr-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-box {
  background-color: white;
  width: 19.5rem;
  height: auto;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.qr-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.qr-header {
  font-style: normal;
}
.qr-header h1 {
  font-size: 22px;
  text-align: center;
  margin: 15px 13px 15px 13px;
}
.qr-header p {
  margin: 20px 10px 20px 10px;
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  text-align: center;
}
footer {
  padding: 1rem;
  font-style: bold;
}
